.text-red-600 {
  color: #e3342f; /* adjust this value to your preferred shade of red */
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.text-green {
  color: #008000; /* adjust this value to your preferred shade of green */
}